@font-face {
  font-family: Arial;
  src: url(../../assets/fonts/arial.woff), format("woff");
  font-style: normal;
}
@font-face {
  font-family: Georgia;
  src: url(../../assets/fonts/georgia.woff), format("woff");
  font-style: normal;
}
html {
  height: 100%;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  height: 120px;
  width: 1280px;
  padding: 29px 40px 32px;
  display: flex;
  position: fixed;
  background: white;
  margin: 0 auto;
  width: 1200px;
  height: 60px;
}
header .burger {
  display: none;
}

.header-content {
  height: 60px;
  display: flex;
  margin: 0 auto;
  width: 1200px;
  align-items: center;
}

.logo {
  padding-top: 2px;
  padding-right: 47.1%;
  width: 16%;
}

h1 a {
  font: 400 2em "Georgia";
  line-height: 110%;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #545454;
}
h1 a:hover {
  color: #f1cdb3;
}

.subtitle {
  font: 400 0.815em "Arial";
  line-height: 15px;
  letter-spacing: 0.1em;
  padding: 0.7em 0 0px 0.3em;
  color: #292929;
}

nav.header-navigation {
  width: 27.7em;
  padding-top: 1.8%;
}
nav.header-navigation ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  font: 400 15px "Arial";
  line-height: 1;
  letter-spacing: 1;
  padding: 0;
}
nav.header-navigation a {
  color: #545454;
  text-decoration: none;
}
nav.header-navigation a:hover {
  color: #292929;
}
nav.header-navigation a.active {
  color: #292929;
  border-bottom: 3px #f1cdb3 solid;
  padding-bottom: 3px;
}

main {
  padding-top: 7.5em;
  background: #f6f6f6;
  text-align: center;
}

h2 {
  padding: 2.31em 0 1.7em;
  color: #545454;
  font: 400 2.189em "Georgia";
  line-height: 130%;
  letter-spacing: 0.06em;
  margin: 0 auto;
  width: 1200px;
  padding-left: 3px;
  line-height: 1.28;
}

.pets-conteiner {
  margin: 0 auto;
  width: 1200px;
}

.cards-container {
  flex-wrap: wrap;
  display: flex;
  gap: 30px 40px;
}
.cards-container figure {
  height: 435px;
  width: 270px;
  background-color: #fafafa;
  border-radius: 9px;
}
.cards-container figure:hover {
  background-color: white;
  cursor: pointer;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}
.cards-container figure:hover button {
  background-color: #fddcc4;
  border: none;
  cursor: pointer;
}
.cards-container figure figcaption {
  color: #545454;
  margin: 26px 0 30px 3px;
  font: 400 20px "Georgia";
  line-height: 23px;
  letter-spacing: 0.06em;
}
.cards-container figure img {
  border-radius: 9px 9px 0px 0px;
}
.cards-container figure button {
  color: #292929;
  align-items: center;
  border-radius: 100px;
  background-color: #fafafa;
  border: 2px solid #f1cdb3;
  width: 187px;
  height: 52px;
  font: 400 17px "Georgia";
  line-height: 130%;
  letter-spacing: 0.06em;
  background-color: #fafafa;
  margin-bottom: 30px;
  padding: 0 0 1px 1px;
}

.pets-navigation {
  padding: 3.73em 0 6.25em;
  margin: 0 auto;
  width: 1200px;
  width: 340px;
  display: flex;
  justify-content: space-between;
}
.pets-navigation button {
  background: #f6f6f6;
  border-radius: 100px;
  width: 52px;
  height: 52px;
  font: 400 20px "Georgia";
  line-height: 115%;
  letter-spacing: 0.06em;
}
.pets-navigation .button_navigator_inactive {
  border: 2px solid #cdcdcd;
}
.pets-navigation .button_navigator_active {
  background: #f1cdb3;
  border: none;
}
.pets-navigation .button_navigator {
  border: 2px solid #f1cdb3;
  color: #292929;
  cursor: pointer;
}
.pets-navigation .button_navigator:hover {
  background: #fddcc4;
  border: none;
}

footer {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
  padding-top: 40px;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  justify-content: space-between;
}

.footer-content-info {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.contacts,
.location {
  width: 279px;
}
.contacts h3,
.location h3 {
  font: 400 35px "Georgia";
  line-height: 130%;
  letter-spacing: 0.06em;
  color: white;
  padding-top: 17px;
  line-height: 1.28;
}
.contacts a,
.location a {
  font: 400 20px "Georgia";
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  display: flex;
  padding-top: 40px;
  width: 251px;
  height: 32px;
  align-items: center;
  text-decoration: none;
}
.contacts .boston,
.contacts .london,
.location .boston,
.location .london {
  width: 305px;
}
.contacts img,
.location img {
  margin-right: 20px;
}

.location {
  margin-left: -20px;
}
.location div {
  margin-left: -2px;
}

/*********************************************************************************
******************************************media***********************************

**************768px************/
@media (min-width: 768px) and (max-width: 1279px) {
  body {
    width: 100%;
    max-width: 1279px;
  }

  header {
    padding: 29px 30px 32px;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
  }

  .logo {
    width: 187px;
    padding-right: 0;
  }

  nav.header-navigation {
    width: 62.7%;
    padding-top: 22px;
  }

  .start-screen-content {
    display: block;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
  }
  .start-screen-content .start-screen-content-box {
    text-align: center;
  }
  .start-screen-content .start-screen-content-w768 {
    text-align: left;
  }
  .start-screen-content div {
    width: 460px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  .start-screen-content img {
    width: 72.5vw;
    margin: 0 0 -5px 0;
    padding: 0 4% 0 0;
  }
  .start-screen-content button.make-a-friend {
    width: 207px;
    height: 52px;
    margin-bottom: 100px;
  }

  .start-screen-content-w768 {
    text-align: left;
  }

  main {
    padding-top: 120px;
    width: 100%;
  }
  main h2 {
    padding: 81px 0 0 1px;
    font-size: 35px;
    width: 100%;
    box-sizing: border-box;
  }

  .pets-conteiner {
    width: 100%;
  }

  .cards-container {
    flex-wrap: wrap;
    display: flex;
    width: 580px;
    justify-content: space-evenly;
    height: 1395px;
    padding-top: 29px;
    overflow: hidden;
    margin: 0 auto;
    gap: 0;
    justify-content: space-between;
  }
  .cards-container .card {
    margin-bottom: 30px;
  }

  .pets-navigation {
    padding: 10px 0 76px;
  }

  /*****************footer**************/
  footer {
    padding-top: 14px;
  }

  .footer-content {
    width: 100%;
    display: block;
    text-align: center;
  }

  .footer-content-info {
    margin: 0 auto;
    width: 640px;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .contacts,
.location {
    width: 300px;
  }

  .footer-dog {
    width: 39%;
    margin: 65px 0 -4px;
  }
}
/*******************************320px***********************/
@media (max-width: 767px) {
  /***************heder*************/
  body {
    width: 100%;
  }

  header {
    justify-content: space-between;
    height: 120px;
    width: 100%;
    max-width: 767px;
    box-sizing: border-box;
    padding: 30px 50px 30px 3%;
  }
  header .burger {
    display: block;
    transition: 0.5s;
    position: fixed;
    top: 45px;
    right: 39px;
    z-index: 3;
  }
  header .line {
    border-bottom: 2px solid #f1cdb3;
    height: 10px;
    width: 30px;
    box-sizing: border-box;
  }
  header .logo {
    width: 186px;
    padding-right: 0;
  }
  header .header-navigation {
    width: 31px;
    padding-top: 11px;
  }
  header .header-navigation .navigation {
    flex-direction: column;
    display: none;
    margin: auto;
  }

  .start-screen-content {
    display: block;
    width: auto;
    text-align: right;
    box-sizing: border-box;
    margin: 0 6%;
  }
  .start-screen-content .start-screen-content-box {
    text-align: center;
    width: auto;
  }
  .start-screen-content .start-screen-content-w768 {
    text-align: center;
    width: auto;
  }
  .start-screen-content .start-screen-content-w768 p {
    width: auto;
    max-width: 460px;
    min-width: 300px;
    margin: 42px auto;
  }
  .start-screen-content .start-screen-content-w768 h2 {
    font-size: 25px;
    width: 205px;
    margin: 0 auto;
  }
  .start-screen-content div {
    width: 460px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  .start-screen-content img {
    width: 72.5vw;
    margin: 0 0 -5px 0;
    padding: 0 4% 0 0;
  }
  .start-screen-content button.make-a-friend {
    width: 207px;
    height: 52px;
    margin-bottom: 100px;
  }

  .start-screen-content-w768 {
    text-align: center;
  }

  main {
    padding-top: 120px;
    width: 100%;
  }

  h2 {
    padding: 42px 0 0 0;
    font-size: 35px;
    width: 100%;
    font-size: 25px;
  }

  .pets-conteiner {
    width: 100%;
  }

  .cards-container {
    flex-wrap: wrap;
    display: flex;
    min-width: 300px;
    max-width: 500px;
    justify-content: space-evenly;
    height: 1395px;
    padding-top: 30px;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 42px;
    gap: 0;
  }
  .cards-container .card {
    margin-bottom: 30px;
  }

  .pets-navigation {
    padding: 12px 0 42px;
    width: 300px;
  }

  /*****************footer**************/
  footer {
    padding-top: 30px;
  }

  .footer-content {
    width: auto;
    display: block;
    text-align: center;
  }

  .footer-content-info {
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 3.6%;
  }

  .contacts,
.location {
    width: auto;
    margin: 0 auto 40px;
  }
  .contacts a,
.location a {
    margin: 0 auto;
  }
  .contacts h3,
.location h3 {
    font-size: 25px;
    text-align: center;
    padding: 0;
    width: auto;
  }

  .contacts .phone img {
    padding-left: 5px;
  }

  .location h3 {
    width: 97%;
    padding-left: 2px;
  }

  .location a {
    padding-top: 46px;
  }

  .footer-dog {
    width: 82%;
    margin-bottom: -4px;
    max-width: 300px;
  }
}
/*********************************************************/
/*******************burger**************************/
.header-navigation ul.nonshow,
.header-navigation div.nonshow,
.popup-background.nonshow, #popap.nonshow {
  display: none;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 0px;
  }
  to {
    margin-left: 0%;
    width: 320px;
  }
}
@keyframes slideout {
  from {
    margin-left: 0;
    width: 320px;
  }
  to {
    margin-left: 100%;
    width: 0;
  }
}
header .change {
  background-color: #292929;
  width: 320px;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  z-index: 2;
  top: 0px;
  right: 0px;
  padding: 0;
  animation-duration: 1s;
  animation-name: slidein;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
}
header .change .subtitle {
  color: white;
}
header .change a {
  color: #f1cdb3;
}
header .change a:hover {
  color: #fafafa;
}
header .change .navigation-header {
  display: flex;
  justify-content: space-between;
  margin: 31px 0 0 10px;
}
header .change .navigation-header a {
  color: #f1cdb3;
}
header .change .navigation-header a:hover {
  color: #fafafa;
}
header .change .burger {
  position: fixed;
  top: 45px;
  right: 39px;
  transition: 0.5s;
  z-index: 3;
}
header .change ul li {
  font: 400 32px "Arial";
  line-height: 160%;
  letter-spacing: 0;
  margin: 0 auto 40px;
  text-align: center;
}
header .change ul li a {
  color: #cdcdcd;
}
header .change ul li a:hover {
  color: #fafafa;
}
header .change ul li .active {
  color: #fafafa;
}
header .slideout {
  overflow: hidden;
  background-color: #292929;
  width: 0;
  height: 823px;
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 0px;
  padding: 0;
  animation-duration: 1s;
  animation-name: slideout;
  white-space: nowrap;
}
header .slideout .navigation-header {
  display: flex;
  justify-content: space-between;
  margin: 31px 54px 158px 10px;
}
header .slideout .navigation-header a {
  color: #f1cdb3;
}
header .slideout .navigation-header a:hover {
  color: #fafafa;
}
header .slideout .burger {
  position: fixed;
  top: 45px;
  right: 39px;
  transition: 0.5s;
  z-index: 3;
}
header .slideout ul li {
  font: 400 32px "Arial";
  line-height: 160%;
  letter-spacing: 0;
  margin: 0 auto 40px;
  text-align: center;
}
header .rotate {
  transform: rotate(90deg);
}

/*************popup burger*************/
.popup-background {
  background: rgba(41, 41, 41, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

/*************no-scroll*************/
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/*****************************popap***************************/
/*************************************************************/
#popap {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popap-background {
  background: rgba(41, 41, 41, 0.6);
  height: 100%;
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  z-index: 0;
}
.popap-background:hover {
  cursor: pointer;
}
.popap-background:hover .popap-body button {
  background: #f1cdb3;
}

.close-popap {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  box-sizing: border-box;
  border-radius: 100px;
  background: rgba(41, 41, 41, 0);
  float: right;
  margin-right: 3px;
  padding-top: 5px;
  z-index: 2;
  position: relative;
}
.close-popap:hover {
  background: #f1cdb3;
}

.popap-body {
  box-sizing: border-box;
  width: 952px;
  height: 552px;
  margin: 0 0 52px 45px;
}
.popap-body .popap-content {
  width: 900px;
  height: 500px;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: #fafafa;
  border-radius: 9px;
  display: flex;
  z-index: 2;
  position: relative;
}
.popap-body .popap-content img {
  border-radius: 9px 0px 0px 9px;
  width: 500px;
  height: 500px;
}
.popap-body .popap-content .popap-pets-content {
  width: 351px;
  height: 362px;
  margin: 50px 20px 0 29px;
}
.popap-body .popap-content .popap-pets-content h3 {
  font: 400 35px "Georgia";
  line-height: 130%;
  letter-spacing: 0.06em;
  padding-bottom: 10px;
}
.popap-body .popap-content .popap-pets-content h4 {
  font: 400 20px "Georgia";
  line-height: 115%;
  letter-spacing: 0.06em;
  padding-bottom: 40px;
}
.popap-body .popap-content .popap-pets-content p {
  font: 400 15px "Georgia";
  line-height: 110%;
  letter-spacing: 0.06em;
  padding-bottom: 40px;
}
.popap-body .popap-content .popap-pets-content ul {
  list-style-type: disc;
  color: #f1cdb3;
  margin-left: 16px;
}
.popap-body .popap-content .popap-pets-content ul li {
  padding-bottom: 10px;
  letter-spacing: 0.06em;
}
.popap-body .popap-content .popap-pets-content ul span {
  color: #000000;
}

/******popap 768px************/
@media (min-width: 768px) and (max-width: 1279px) {
  .popap-body {
    width: 682px;
    height: 402px;
    margin: 0 0 52px 52px;
  }
  .popap-body button {
    margin-right: 9px;
  }
  .popap-body .popap-content {
    width: 630px;
    height: 350px;
  }
  .popap-body .popap-content img {
    width: 350px;
    height: 350px;
  }
  .popap-body .popap-content .popap-pets-content {
    width: 260px;
    height: 303px;
    margin: 10px 9px 37px 11px;
  }
  .popap-body .popap-content .popap-pets-content h4,
.popap-body .popap-content .popap-pets-content p {
    padding-bottom: 16px;
  }
  .popap-body .popap-content .popap-pets-content p {
    font-size: 13px;
  }
  .popap-body .popap-content .popap-pets-content ul li {
    padding-bottom: 5px;
    font-size: 15px;
  }
}
/******popap 320px************/
@media (max-width: 767px) {
  .popap-body {
    width: 271px;
    height: auto;
    margin: 0 0 52px 31px;
  }
  .popap-body button {
    margin-right: 0;
  }
  .popap-body .popap-content {
    width: 240px;
    min-height: 341px;
    height: 100%;
  }
  .popap-body .popap-content img {
    display: none;
  }
  .popap-body .popap-content .popap-pets-content {
    width: 220px;
    height: auto;
    margin: 10px 9px 11px;
  }
  .popap-body .popap-content .popap-pets-content h3,
.popap-body .popap-content .popap-pets-content h4 {
    text-align: center;
  }
  .popap-body .popap-content .popap-pets-content h4 {
    padding-bottom: 20px;
  }
  .popap-body .popap-content .popap-pets-content p {
    padding-bottom: 24px;
    font-size: 13px;
  }
  .popap-body .popap-content .popap-pets-content ul li {
    padding-bottom: 5px;
    font-size: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
