$page-height: 100%;
$page-width: 1200px;

$color-light: rgba(255, 255, 255, 1);
$color-light-s: rgba(250, 250, 250, 1);
$color-light-l: rgba(246, 246, 246, 1);
$color-light-xl: rgba(255, 255, 255, 1);
$color-primary: rgba(241, 205, 179, 1);
$color-primary-light: rgba(253, 220, 196, 1);
$color-dark-s: rgba(205, 205, 205, 1);
$color-dark-m: rgba(178, 178, 178, 1);
$color-dark-l: rgba(84, 84, 84, 1);
$color-dark-xl: rgba(76, 76, 76, 1);
$color-dark-3xl: rgba(41, 41, 41, 1);
@mixin link {
  text-decoration: none;
}
@mixin marginWidth {
  margin: 0 auto;
  width: $page-width;
}
@mixin fontArial($size, $lineHeight, $letterSpacing) {
  font: 400 $size "Arial";
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}
@mixin fontGeorgia($size, $lineHeight, $letterSpacing) {
  font: 400 $size "Georgia";
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}
@mixin button($bckgr-color, $color) {
  color: $color;
  align-items: center;
  border-radius: 100px;
  background-color: $bckgr-color;
}

html {
  height: $page-height;
}
body {
  width: 1280px;
  margin: 0 auto;
  height: $page-height;
}
//******************************
//*******start screen***********
.start-screen {
  background: $color-light-xl;
}
//*********header***************
header {
  height: 120px;
}
.header-content {
  padding-top: 30px;
  height: 60px;
  display: flex;
  @include marginWidth();
  justify-content: space-between;
}
h1 {
  a {
    @include fontGeorgia(32px, 110%, 0.06em);
    text-decoration: none;
    color: $color-dark-l;
    &:hover {
      color: $color-light;
    }
  }
}
.subtitle {
  @include fontArial(13px, 15px, 0.1em);
  padding: 10px 0 0 4px;
  color: $color-dark-3xl;
}
nav {
  width: 443px;
  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    @include fontArial(15px, 1, 1);
  }
  a {
    color: $color-dark-l;
    text-decoration: none;
    &:hover {
      color: $color-dark-3xl;
    }
  }
  a.active {
    color: $color-dark-3xl;
    border-bottom: 3px $color-primary solid;
    padding-bottom: 3px;
  }
}
//**************************
//*******main***************

//**********Pets***********

//**********Footer***********
footer {
  background: url(../../assets/images/noise_transparent@2x.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
  height: 350px;
  padding-top: 40px;
  box-sizing: border-box;
}
.footer-content {
  display: flex;
  @include marginWidth();
  height: 310px;
  justify-content: space-between;
}
.contacts,
.location {
  width: 279px;
  h3 {
    @include fontGeorgia(35px, 130%, 0.06em);
    color: $color-light-xl;
  }
  a {
    @include fontGeorgia(20px, 115%, 0.06em);
    color: $color-primary;
    display: flex;
    padding-top: 45px;
    width: 251px;
    height: 32px;
    align-items: center;
  }
  .boston,
  .london {
    width: 305px;
  }
  img {
    margin-right: 20px;
  }
}
