@font-face {
  font-family: Arial;
  src: url(../../assets/fonts/arial.woff), format("woff");
  font-style: normal;
}
@font-face {
  font-family: Georgia;
  src: url(../../assets/fonts/georgia.woff), format("woff");
  font-style: normal;
}
$page-height: 100%;
$page-width: 1200px;

$color-light: rgba(255, 255, 255, 1);
$color-light-s: rgba(250, 250, 250, 1);
$color-light-l: rgba(246, 246, 246, 1);
$color-light-xl: rgba(255, 255, 255, 1);
$color-primary: rgba(241, 205, 179, 1);
$color-primary-light: rgba(253, 220, 196, 1);
$color-dark-s: rgba(205, 205, 205, 1);
$color-dark-m: rgba(178, 178, 178, 1);
$color-dark-l: rgba(84, 84, 84, 1);
$color-dark-xl: rgba(76, 76, 76, 1);
$color-dark-3xl: rgba(41, 41, 41, 1);

@mixin marginWidth {
  margin: 0 auto;
  width: $page-width;
}
@mixin fontArial($size, $lineHeight, $letterSpacing) {
  font: 400 $size "Arial";
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}
@mixin fontGeorgia($size, $lineHeight, $letterSpacing) {
  font: 400 $size "Georgia";
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}
@mixin button($bckgr-color, $color) {
  color: $color;
  align-items: center;
  border-radius: 100px;
  background-color: $bckgr-color;
}

html {
  height: $page-height;
}
body {
  width: 1280px;
  margin: 0 auto;
  height: $page-height;
}

//*********header***************
header {
  height: 7.5em;
  width: 1280px;
  position: fixed;
  background: $color-light-xl;
}
.header-content {
  padding-top: 1.7em;
  height: 60px;
  display: flex;
  @include marginWidth();
  align-items: center;
}
.logo {
  padding-right: 47.15%;
  padding-top: 7px;
  width: 16%;
}
h1 {
  a {
    @include fontGeorgia(2em, 110%, 0.06em);
    text-decoration: none;
    color: $color-dark-l;
    &:hover {
      color: $color-primary;
    }
  }
}
.subtitle {
  @include fontArial(0.815em, 15px, 0.1em);
  padding: 0.7em 0 0px 0.3em;
  color: $color-dark-3xl;
}
nav {
  width: 27.7em;
  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    @include fontArial(0.94em, 1, 1);
    padding: 0;
  }
  a {
    color: $color-dark-l;
    text-decoration: none;
    &:hover {
      color: $color-dark-3xl;
    }
  }
  a.active {
    color: $color-dark-3xl;
    border-bottom: 3px $color-primary solid;
    padding-bottom: 3px;
  }
}
//**************************
//*******main***************
main {
  padding-top: 7.5em;
  background: $color-light-l;
  text-align: center;
}
h2 {
  padding: 2.31em 0 1.7em;
  color: $color-dark-l;
  @include fontGeorgia(2.189em, 130%, 0.06em);
  @include marginWidth();
  padding-left: 3px;
  line-height: 1.28;
}
//**********Pets***********
.pets-conteiner {
  @include marginWidth();
}
.cards-container {
  flex-wrap: wrap;
  display: flex;
  gap: 30px 40px;
  .card {
    height: 435px;
    width: 270px;
    background-color: $color-light-s;
    border-radius: 9px;
    &:hover {
      background-color: $color-light-xl;
      cursor: pointer;
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
      button {
        background-color: $color-light-xl;
      }
    }
    figcaption {
      color: $color-dark-l;
      margin: 26px 0 30px 3px;
      @include fontGeorgia(20px, 23px, 0.06em);
    }
    img {
      border-radius: 9px 9px 0px 0px;
    }
    .button_secondary {
      @include button($color-light-s, $color-dark-3xl);
      border: 2px solid $color-primary;
      width: 187px;
      height: 52px;
      @include fontGeorgia(17px, 130%, 0.06em);
      background-color: $color-light-s;
      margin-bottom: 30px;
      padding: 0 0 1px 1px;
      &:hover {
        background-color: $color-primary-light;
        border: none;
        cursor: pointer;
      }
    }
  }
}
.pets-navigation {
  padding: 3.73em 0 6.25em;
  @include marginWidth();
  width: 340px;
  display: flex;
  justify-content: space-between;
  button {
    border-radius: 100px;
    width: 52px;
    height: 52px;
    @include fontGeorgia(20px, 115%, 0.06em);
  }
}
.button_navigator_inactive {
  border: 2px solid $color-dark-s;
}
.button_navigator_active {
  background: $color-primary;
  border: none;
  cursor: pointer;
}
.button_navigator {
  border: 2px solid $color-primary;
  color: $color-dark-3xl;
  cursor: pointer;
  &:hover {
    background: $color-primary-light;
    border: none;
  }
}
//**********Footer***********
footer {
  background: url(../../assets/images/noise_transparent@2x.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
  height: 350px;
  padding-top: 40px;
  box-sizing: border-box;
}
.footer-content {
  display: flex;
  @include marginWidth();
  height: 310px;
  justify-content: space-between;
}
.contacts,
.location {
  width: 279px;
  h3 {
    @include fontGeorgia(35px, 130%, 0.06em);
    color: $color-light-xl;
    padding-top: 17px;
    line-height: 1.28;
  }
  a {
    @include fontGeorgia(20px, 115%, 0.06em);
    color: $color-primary;
    display: flex;
    padding-top: 40px;
    width: 251px;
    height: 32px;
    align-items: center;
    text-decoration: none;
  }
  .boston,
  .london {
    width: 305px;
  }
  img {
    margin-right: 20px;
  }
}
.location {
  margin-left: -20px;
  div {
    margin-left: -2px;
  }
}
