@font-face {
  font-family: Arial;
  src: url(../../assets/fonts/arial.woff), format("woff");
  font-style: normal;
}
@font-face {
  font-family: Georgia;
  src: url(../../assets/fonts/georgia.woff), format("woff");
  font-style: normal;
}
body {
  max-width: 1280px;
  margin: 0 auto;
}

.start-screen {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), linear-gradient(0deg, #211f20, #211f20);
}

header {
  height: 3.76em;
  display: flex;
  padding-top: 3.66em;
  margin: 0 auto;
  width: 1200px;
}
header .burger {
  display: none;
}

.logo {
  padding-right: 47.6%;
  padding-top: 2px;
  white-space: nowrap;
}

h1 a {
  color: #f1cdb3;
  font: 400 32px "Georgia";
  line-height: 110%;
  letter-spacing: 0.06em;
  text-decoration: none;
}
h1 a:hover {
  color: white;
}

.subtitle {
  color: white;
  font: 400 13px "Arial";
  line-height: 15px;
  letter-spacing: 0.1em;
  padding: 0.7em 0 0px 0.3em;
}

nav.header-navigation {
  width: 27.7em;
  padding-top: 1.8%;
}
nav.header-navigation ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  font: 400 15px "Arial";
  line-height: 1;
  letter-spacing: 1;
}
nav.header-navigation a {
  color: #cdcdcd;
  text-decoration: none;
}
nav.header-navigation a:hover {
  color: #fafafa;
}
nav.header-navigation a.active {
  color: white;
  border-bottom: 3px #f1cdb3 solid;
  padding-bottom: 3px;
}

.start-screen-content {
  display: flex;
  width: 1200px;
  padding-top: 4em;
  margin: 0 auto;
  width: 1200px;
}
.start-screen-content div {
  width: 29em;
  padding-top: 10.1em;
}
.start-screen-content div h2 {
  font: 400 44px "Georgia";
  line-height: 130%;
  letter-spacing: 1;
  color: white;
  width: 310px;
}
.start-screen-content div p {
  font: 400 15px "Arial";
  line-height: 160%;
  letter-spacing: 1;
  color: #cdcdcd;
  align-items: center;
  margin: 2.7em 0 2.75em;
}
.start-screen-content div button {
  color: #292929;
  align-items: center;
  border-radius: 100px;
  background-color: #f1cdb3;
  width: 15.6em;
  height: 3.9em;
  border: none;
}
.start-screen-content div button a {
  font: 400 17px "Georgia";
  line-height: 130%;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #292929;
}
.start-screen-content div button:hover {
  background-color: #fddcc4;
  cursor: pointer;
}
.start-screen-content .start-screen-content-w768 {
  padding: 0;
}
.start-screen-content img {
  width: 58%;
  padding-left: 2.9vw;
  margin-top: -1px;
}

.about-content {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  width: 53.21em;
  padding-left: 3px;
  margin: 5em auto 101px;
}

.about-the-scelter {
  margin-left: 7.49em;
}
.about-the-scelter h3 {
  padding-top: 0.43em;
  color: #545454;
  font: 400 35px "Georgia";
  line-height: 130%;
  letter-spacing: 0.06em;
  width: 10em;
  line-height: 1.28;
}
.about-the-scelter p {
  color: #4c4c4c;
  font: 400 15px "Arial";
  line-height: 160%;
  letter-spacing: 1;
  padding-top: 1.63em;
}

.pets {
  background-color: #f6f6f6;
}

.pets-content {
  margin: 0 auto;
  width: 1200px;
  text-align: center;
  padding-left: 3px;
}
.pets-content h3 {
  font: 400 35px "Georgia";
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  width: 30rem;
  margin: 0 auto;
  padding: 80px 0 59px;
  line-height: 1.28;
}

.slider {
  display: flex;
  height: 435px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1200px;
}

.button_arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: #f6f6f6;
  margin-left: -1px;
}
.button_arrow:hover {
  background-color: #fddcc4;
  border: none;
  cursor: pointer;
}

.right {
  position: relative;
  left: 7px;
}

.left {
  position: relative;
  left: -6px;
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 988px;
}
.cards figure {
  list-style-type: none;
  background-color: #fafafa;
  border-radius: 9px;
  margin-left: -2px;
  width: 270px;
}
.cards figure:hover {
  background-color: white;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  cursor: pointer;
}
.cards figure:hover button {
  background-color: #fddcc4;
  border: none;
  cursor: pointer;
}
.cards figure figcaption {
  color: #545454;
  margin: 26px 0px 29px 1px;
  font: 400 20px "Georgia";
  line-height: 23px;
  letter-spacing: 0.06em;
}
.cards figure img {
  border-radius: 9px 9px 0px 0px;
}
.cards figure .button_secondary {
  color: #292929;
  align-items: center;
  border-radius: 100px;
  background-color: #fafafa;
  border: 2px solid #f1cdb3;
  width: 187px;
  height: 52px;
  font: 400 17px "Georgia";
  line-height: 130%;
  letter-spacing: 0.06em;
  background-color: #fafafa;
  margin-bottom: 30px;
  margin-left: -1px;
  padding: 1px 0 0 2px;
}

.get-to-know {
  margin: 3.53em 0 100px;
  color: #292929;
  align-items: center;
  border-radius: 100px;
  background-color: #f1cdb3;
  font: 400 17px "Georgia";
  line-height: 130%;
  letter-spacing: 0.06em;
  width: 15.4em;
  height: 3.1em;
  border: none;
  padding-top: 1px;
}
.get-to-know a {
  color: #292929;
  text-decoration: none;
}
.get-to-know:hover {
  background-color: #fddcc4;
  cursor: pointer;
}

.help-content {
  margin: 0 auto;
  width: 1200px;
}

.help {
  background-color: white;
  text-align: center;
}
.help h3 {
  font: 400 2.19em "Georgia";
  line-height: 130%;
  letter-spacing: 0.06em;
  padding: 81px 0 58px 1px;
  color: #545454;
}

.help_list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 55px 118px;
  justify-content: center;
  margin-bottom: 100px;
}
.help_list li {
  height: 113px;
  font: 400 20px "Georgia";
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}
.help_list li img {
  padding-bottom: 25px;
}
.help_list li p {
  padding-left: 2px;
}

.donation {
  background-color: #f6f6f6;
}

.donation-content {
  width: 915px;
  margin: 0 auto;
  padding: 5.1em 0 101px;
  display: flex;
  color: #545454;
  justify-content: space-between;
}
.donation-content .donation-dog {
  padding-top: 10px;
}

.make-donation {
  width: 380px;
}
.make-donation h3 {
  width: 300px;
  font: 400 2.19em "Georgia";
  line-height: 130%;
  letter-spacing: 0.06em;
  padding-bottom: 19px;
}
.make-donation p {
  font: 400 15px "Georgia";
  line-height: 110%;
  letter-spacing: 0.06em;
}
.make-donation div a {
  width: 349px;
  height: 43px;
  background: #f1cdb3;
  border-radius: 9px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #545454;
  text-decoration: none;
  margin: 20px 0;
}
.make-donation div a:hover {
  background: #fddcc4;
  box-shadow: 0px 4px 16px 9px rgba(255, 255, 255, 0.15);
}
.make-donation div img {
  width: 30px;
  height: 23px;
}
.make-donation div p {
  font: 400 20px "Georgia";
  line-height: 115%;
  letter-spacing: 0.06em;
}
.make-donation .make-donation-info {
  font: 400 12px "Arial";
  line-height: 150%;
  letter-spacing: 0;
  color: #b2b2b2;
  font-style: italic;
}

footer {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
  padding-top: 40px;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  justify-content: space-between;
}

.footer-content-info {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.contacts,
.location {
  width: 279px;
}
.contacts h3,
.location h3 {
  font: 400 35px "Georgia";
  line-height: 130%;
  letter-spacing: 0.06em;
  color: white;
  padding-top: 17px;
  line-height: 1.28;
}
.contacts a,
.location a {
  font: 400 20px "Georgia";
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  display: flex;
  padding-top: 40px;
  width: 251px;
  height: 32px;
  align-items: center;
  text-decoration: none;
}
.contacts .boston,
.contacts .london,
.location .boston,
.location .london {
  width: 305px;
}
.contacts img,
.location img {
  margin-right: 20px;
}

.location {
  margin-left: -20px;
}
.location div {
  margin-left: -2px;
}

/*********************************************************************************
******************************************media***********************************

**************768px************/
@media (min-width: 768px) and (max-width: 1279px) {
  body {
    width: 100%;
  }

  header {
    padding-top: 30px;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    max-width: 1200px;
  }

  .logo {
    padding: 0 0 0 30px;
    width: 23.9%;
  }

  nav.header-navigation {
    padding: 20px 30px 0 0;
    width: 57.6%;
  }

  .start-screen-content {
    display: block;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    padding-top: 61px;
  }
  .start-screen-content .start-screen-content-box {
    text-align: center;
  }
  .start-screen-content .start-screen-content-w768 {
    text-align: left;
  }
  .start-screen-content div {
    width: 460px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  .start-screen-content img {
    width: 74.3vw;
    margin: 0 0 -5px 0;
    padding: 0 4% 0 0;
  }
  .start-screen-content button.make-a-friend {
    width: 207px;
    height: 52px;
    margin-bottom: 100px;
  }

  .start-screen-content-w768 {
    text-align: left;
  }

  /***********about*********/
  .about {
    text-align: center;
  }

  .about-content {
    width: 100%;
    flex-direction: column;
    width: 432px;
    margin: 0 auto;
  }
  .about-content .about-the-scelter {
    text-align: left;
    margin: 66px auto 79px;
  }
  .about-content img {
    order: 1;
    padding-bottom: 99px;
    width: 70%;
    margin: 0 auto;
  }

  /*******************our pets**********************/
  .pets-content {
    width: 100%;
    padding: 0;
  }
  .pets-content h3 {
    padding: 80px 0 59px 2px;
  }

  .slider {
    margin: 0 auto;
    width: 80%;
    justify-content: space-around;
    box-sizing: border-box;
    min-width: 720px;
  }
  .slider figure {
    width: 270px;
    height: 435px;
  }
  .slider figure img {
    width: 100%;
  }

  .cards {
    width: 579px;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    height: 435px;
  }

  .get-to-know {
    width: 260px;
    height: 52px;
  }

  /*****************help**************/
  .help-content {
    width: 100%;
  }
  .help-content h3 {
    padding: 81px 0 58px 2px;
  }

  .help_list {
    height: 504px;
    width: 91%;
    gap: 0;
    margin: 0 auto 45px;
  }
  .help_list li {
    width: 33%;
  }

  /*****************donation**************/
  .donation-content {
    flex-direction: column;
    width: 67%;
    padding: 81px 0 101px;
  }
  .donation-content .make-donation {
    width: 380px;
    margin: 0 auto;
  }
  .donation-content .donation-dog {
    order: 1;
    margin: 0 auto;
    width: 98%;
    padding-top: 59px;
  }

  /*****************footer**************/
  footer {
    padding-top: 14px;
  }

  .footer-content {
    width: 100%;
    display: block;
    text-align: center;
  }

  .footer-content-info {
    margin: 0 auto;
    width: 640px;
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

  .contacts,
.location {
    width: 300px;
  }

  .footer-dog {
    width: 39%;
    margin: 65px 0 -4px;
  }
}
/*******************************320px***********************/
@media (max-width: 767px) {
  /***************heder*************/
  body {
    width: 100%;
  }

  header {
    padding-top: 30px;
    justify-content: space-between;
    height: 60px;
    margin-right: 53px;
    width: auto;
    margin-left: 3%;
  }
  header .burger {
    display: block;
    transition: 0.5s;
  }
  header .line {
    border-bottom: 2px solid #f1cdb3;
    height: 10px;
    width: 30px;
    box-sizing: border-box;
  }
  header .logo {
    width: 184px;
    padding-right: 0;
  }
  header .header-navigation {
    width: 31px;
    padding-top: 11px;
  }
  header .header-navigation .navigation {
    flex-direction: column;
    display: none;
  }

  .start-screen-content {
    display: block;
    width: auto;
    text-align: right;
    box-sizing: border-box;
    margin: 0 3%;
    padding-top: 60px;
  }
  .start-screen-content .start-screen-content-box {
    text-align: center;
    width: auto;
  }
  .start-screen-content .start-screen-content-w768 {
    text-align: center;
    width: auto;
  }
  .start-screen-content .start-screen-content-w768 p {
    width: auto;
    max-width: 460px;
    min-width: 300px;
    margin: 42px auto;
  }
  .start-screen-content .start-screen-content-w768 h2 {
    font-size: 25px;
    margin: 0 auto;
    width: 70%;
    letter-spacing: 0.06em;
  }
  .start-screen-content div {
    width: 460px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }
  .start-screen-content img {
    width: 82vw;
    margin: 0 0 -4px 0;
    padding: 0;
  }
  .start-screen-content button.make-a-friend {
    width: 207px;
    height: 52px;
    margin-bottom: 103px;
  }

  .start-screen-content-w768 {
    text-align: center;
  }

  /***********about*********/
  .about-content {
    width: auto;
    flex-direction: column;
    max-width: 430px;
    margin: auto;
  }
  .about-content .about-the-scelter {
    text-align: justify;
    margin: 0 7.5%;
  }
  .about-content .about-the-scelter h3 {
    width: 268px;
    font-size: 25px;
    margin: 41px auto 25px;
    padding: 0;
    text-align: center;
  }
  .about-content .about-the-scelter p {
    padding: 0 0 22px 0;
  }
  .about-content img {
    order: 1;
    padding-bottom: 42px;
    width: 82.2%;
    margin: 19px auto 0px;
  }

  /*******************our pets**********************/
  .pets-content {
    width: auto;
    margin: 0 3%;
    padding: 0;
  }
  .pets-content h3 {
    font-size: 25px;
    padding: 42px 0;
    width: auto;
  }

  .slider {
    margin: 0 auto;
    width: 300px;
    justify-content: space-evenly;
    box-sizing: border-box;
    flex-wrap: wrap;
    height: 100%;
  }
  .slider .disable-card {
    display: none;
  }
  .slider figure {
    width: 270px;
    height: 435px;
  }
  .slider figure img {
    width: 100%;
  }
  .slider .button_arrow {
    margin: 20px 0 0 0;
  }

  .left {
    order: 1;
  }

  .right {
    order: 2;
  }

  .cards {
    width: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 435px;
    overflow: hidden;
  }

  .get-to-know {
    width: 260px;
    height: 52px;
    margin: 42px 0;
  }

  /*****************help**************/
  .help h3 {
    font-size: 25px;
    padding: 42px 0;
  }

  .help-content {
    width: 100%;
    padding-bottom: 11px;
  }

  .help_list {
    width: 95%;
    gap: 0 5.5%;
    margin: 0px auto;
    justify-content: left;
  }
  .help_list li {
    width: 47%;
    margin-bottom: 4px;
    font-size: 15px;
  }
  .help_list li img {
    padding-bottom: 16px;
    width: 50px;
  }

  /*****************donation**************/
  .donation-content {
    flex-direction: column;
    width: auto;
    margin: 0 6.2%;
    padding: 0;
  }
  .donation-content .make-donation {
    margin: 0 auto;
    width: auto;
  }
  .donation-content .make-donation h3 {
    text-align: center;
    font-size: 25px;
    padding: 42px 0 23px;
    width: 220px;
    margin: 0 auto;
  }
  .donation-content .make-donation p {
    text-align: center;
    letter-spacing: 0;
  }
  .donation-content .make-donation a {
    width: 281px;
    margin: 23px auto 21px;
    padding: 0 15px;
    box-sizing: border-box;
    justify-content: space-between;
  }
  .donation-content .make-donation a p {
    font-size: 15px;
    width: 207px;
    letter-spacing: 0.06em;
  }
  .donation-content .make-donation .make-donation-info {
    text-align: justify;
    max-width: 380px;
  }
  .donation-content .donation-dog {
    order: 1;
    margin: 0 4%;
    padding: 42px 0 43px;
  }

  /*****************footer**************/
  footer {
    padding-top: 30px;
  }

  .footer-content {
    width: auto;
    display: block;
    text-align: center;
  }

  .footer-content-info {
    width: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0px 3.6%;
  }

  .contacts,
.location {
    width: auto;
    margin: 0 auto 40px;
  }
  .contacts a,
.location a {
    margin: 0 auto;
  }
  .contacts h3,
.location h3 {
    font-size: 25px;
    text-align: center;
    padding: 0;
    width: auto;
  }

  .contacts .phone img {
    padding-left: 5px;
  }

  .location h3 {
    width: 97%;
    padding-left: 2px;
  }

  .location a {
    padding-top: 46px;
  }

  .footer-dog {
    width: 82%;
    margin-bottom: -4px;
    max-width: 300px;
  }
}
/******************************************/
.header-navigation ul.nonshow,
.header-navigation div.nonshow {
  display: none;
}

header .change {
  background-color: #292929;
  width: 320px;
  height: 823px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0;
}
header .change .navigation-header {
  display: flex;
  justify-content: space-between;
  margin: 31px 54px 158px 10px;
}
header .change .navigation-header a {
  color: #f1cdb3;
}
header .change .navigation-header a:hover {
  color: #fafafa;
}
header .change .burger {
  margin: -4px 14px 0 0;
  transition: 0.5s;
}
header .change ul li {
  font: 400 32px "Arial";
  line-height: 160%;
  letter-spacing: 0;
  margin: 0 auto 40px;
  text-align: center;
}

.rotate {
  transform: rotate(90deg);
}

/*# sourceMappingURL=style.css.map */
