$page-height: 100%;
$page-width: 1200px;

$color-light: rgba(255, 255, 255, 1);
$color-light-s: rgba(250, 250, 250, 1);
$color-light-l: rgba(246, 246, 246, 1);
$color-light-xl: rgba(255, 255, 255, 1);
$color-primary: rgba(241, 205, 179, 1);
$color-primary-light: rgba(253, 220, 196, 1);
$color-dark-s: rgba(205, 205, 205, 1);
$color-dark-m: rgba(178, 178, 178, 1);
$color-dark-l: rgba(84, 84, 84, 1);
$color-dark-xl: rgba(76, 76, 76, 1);
$color-dark-3xl: rgba(41, 41, 41, 1);
@mixin link {
  text-decoration: none;
}
@mixin marginWidth {
  margin: 0 auto;
  width: $page-width;
}
@mixin fontArial($size, $lineHeight, $letterSpacing) {
  font: 400 $size "Arial";
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}
@mixin fontGeorgia($size, $lineHeight, $letterSpacing) {
  font: 400 $size "Georgia";
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
}
@mixin button($bckgr-color, $color) {
  color: $color;
  align-items: center;
  border-radius: 100px;
  background-color: $bckgr-color;
}

html {
  height: $page-height;
}
body {
  width: 1280px;
  margin: 0 auto;
  height: $page-height;
}
//******************************
//*******start screen***********
.start-screen {
  background: url(../../assets/images/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%),
    linear-gradient(0deg, #211f20, #211f20);
}
//*********header***************
header {
  height: 60px;
  display: flex;
  padding-top: 60px;
  @include marginWidth();
  justify-content: space-between;
}
h1 {
  a {
    color: $color-primary;
    @include fontGeorgia(32px, 110%, 0.06em);
    text-decoration: none;
    &:hover {
      color: $color-light;
    }
  }
}
.subtitle {
  color: $color-light;
  @include fontArial(13px, 15px, 0.1em);
  padding: 10px 0 0 4px;
}
nav {
  width: 443px;
  ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    @include fontArial(15px, 1, 1);
  }
  a {
    color: $color-dark-s;
    text-decoration: none;
    &:hover {
      color: $color-light;
      border-bottom: 3px $color-primary solid;
      padding-bottom: 3px;
    }
  }
}
.start-screen-content {
  display: flex;
  width: $page-width;
  padding-top: 60px;
  justify-content: space-between;
  @include marginWidth();
  div {
    height: 322px;
    width: 460px;
    padding-top: 163px;
    h2 {
      @include fontGeorgia(44px, 130%, 1);
      color: rgba(255, 255, 255, 1);
      width: 310px;
    }
    p {
      @include fontArial(15px, 160%, 1);
      color: $color-dark-s;
      align-items: center;
      margin: 42px 0;
    }
    button {
      @include button($color-primary, $color-dark-3xl);
      width: 207px;
      height: 52px;
      @include fontGeorgia(17px, 130%, 0.06em);
      &:hover {
        background-color: $color-primary-light;
        cursor: pointer;
      }
    }
  }
  img {
    width: 60%;
  }
}
//**************************
//*******main***************

//**********About***********
.about {
  height: 588px;
}
.about-content {
  height: 408px;
  @include marginWidth();
  margin-top: 80px;
  display: flex;
  width: 850px;
  justify-content: space-between;
}
.about-the-scelter {
  width: 430px;
  h3 {
    color: $color-dark-l;
    @include fontGeorgia(35px, 130%, 0.06em);
    width: 360px;
  }
  p {
    color: $color-dark-xl;
    @include fontArial(15px, 160%, 1);
    padding-top: 25px;
  }
}
//**********Our friends***********
.pets {
  height: 877px;
  background-color: $color-light-l;
}
.pets-content {
  @include marginWidth();
  text-align: center;
  h3 {
    @include fontGeorgia(35px, 130%, 0.06em);
    color: $color-dark-l;
    width: 30rem;
    margin: 0 auto;
    padding: 80px 0 60px;
  }
}
.slider {
  display: flex;
  height: 435px;
  justify-content: space-between;
  align-items: center;
}
.button_arrow {
  width: 52px;
  height: 52px;
  border: 2px solid $color-primary;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: $color-light-l;
  &:hover {
    background-color: $color-primary-light;
    border: none;
    cursor: pointer;
  }
}
.cards {
  display: flex;
  justify-content: space-between;
  width: 990px;
  li {
    list-style-type: none;
    background-color: $color-light-s;
    border-radius: 9px;
    &:hover {
      background-color: $color-light-xl;
      cursor: pointer;
    }
    h5 {
      color: $color-dark-l;
      margin: 30px auto;
      @include fontGeorgia(20px, 23px, 0.06em);
    }
    img {
      border-radius: 9px 9px 0px 0px;
    }
    .button_secondary {
      @include button($color-light-s, $color-dark-3xl);
      border: 2px solid $color-primary;
      width: 187px;
      height: 52px;
      @include fontGeorgia(17px, 130%, 0.06em);
      background-color: $color-light-s;
      margin-bottom: 30px;
      &:hover {
        background-color: $color-primary-light;
        border: none;
        cursor: pointer;
      }
    }
  }
  li:hover button {
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
    background: $color-light-xl;
  }
}

.get-to-know {
  margin-top: 60px;
  @include button($color-primary, $color-dark-3xl);
  @include fontGeorgia(17px, 130%, 0.06em);
  width: 261px;
  height: 52px;
  border: none;
  &:hover {
    background-color: $color-primary-light;
    cursor: pointer;
  }
}
//**********Our friends***********
.help {
  height: 611px;
  background-color: $color-light-xl;
  text-align: center;
  h3 {
    @include fontGeorgia(35px, 130%, 0.06em);
    padding: 80px 0 60px;
  }
}
.help_list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 55px 120px;
  justify-content: center;
}
//**********Our friends***********
.donation {
  height: 462px;
  background-color: $color-light-l;
}
.donation-content {
  width: 915px;
  margin: 0 auto;
  padding: 80px 0 100px;
  display: flex;
  color: $color-dark-l;
  justify-content: space-between;
  img {
    height: 100%;
  }
}
.make-donation {
  width: 380px;
  h3 {
    width: 300px;
    @include fontGeorgia(35px, 130%, 0.06em);
  }
  p {
    @include fontGeorgia(15px, 110%, 0.06em);
    padding: 20px 0;
  }
  div {
    width: 349px;
    height: 43px;
    background: $color-primary;
    border-radius: 9px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img {
      width: 30px;
      height: 23px;
    }
    p {
      @include fontGeorgia(20px, 115%, 0.06em);
    }
  }
  .make-donation-info {
    @include fontArial(12px, 150%, 0);
    color: $color-dark-m;
    font-style: italic;
  }
}
