html {
  height: 100%;
}

body {
  width: 1280px;
  margin: 0 auto;
  height: 100%;
}

.start-screen {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), linear-gradient(0deg, #211f20, #211f20);
}

header {
  height: 60px;
  display: flex;
  padding-top: 60px;
  margin: 0 auto;
  width: 1200px;
  justify-content: space-between;
}

h1 a {
  color: #f1cdb3;
  font: 400 32px "Georgia";
  line-height: 110%;
  letter-spacing: 0.06em;
  text-decoration: none;
}
h1 a:hover {
  color: white;
}

.subtitle {
  color: white;
  font: 400 13px "Arial";
  line-height: 15px;
  letter-spacing: 0.1em;
  padding: 10px 0 0 4px;
}

nav {
  width: 443px;
}
nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  font: 400 15px "Arial";
  line-height: 1;
  letter-spacing: 1;
}
nav a {
  color: #cdcdcd;
  text-decoration: none;
}
nav a a.active, nav a:hover {
  color: white;
  border-bottom: 3px #f1cdb3 solid;
  padding-bottom: 3px;
}
nav a.active {
  color: white;
  border-bottom: 3px #f1cdb3 solid;
  padding-bottom: 3px;
}

.start-screen-content {
  display: flex;
  width: 1200px;
  padding-top: 60px;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
}
.start-screen-content div {
  height: 322px;
  width: 460px;
  padding-top: 163px;
}
.start-screen-content div h2 {
  font: 400 44px "Georgia";
  line-height: 130%;
  letter-spacing: 1;
  color: white;
  width: 310px;
}
.start-screen-content div p {
  font: 400 15px "Arial";
  line-height: 160%;
  letter-spacing: 1;
  color: #cdcdcd;
  align-items: center;
  margin: 42px 0;
}
.start-screen-content div button {
  color: #292929;
  align-items: center;
  border-radius: 100px;
  background-color: #f1cdb3;
  width: 207px;
  height: 52px;
  font: 400 17px "Georgia";
  line-height: 130%;
  letter-spacing: 0.06em;
}
.start-screen-content div button:hover {
  background-color: #fddcc4;
  cursor: pointer;
}
.start-screen-content img {
  width: 60%;
}

.about {
  height: 588px;
}

.about-content {
  height: 408px;
  margin: 0 auto;
  width: 1200px;
  margin-top: 80px;
  display: flex;
  width: 850px;
  justify-content: space-between;
}

.about-the-scelter {
  width: 430px;
}
.about-the-scelter h3 {
  color: #545454;
  font: 400 35px "Georgia";
  line-height: 130%;
  letter-spacing: 0.06em;
  width: 360px;
}
.about-the-scelter p {
  color: #4c4c4c;
  font: 400 15px "Arial";
  line-height: 160%;
  letter-spacing: 1;
  padding-top: 25px;
}

.pets {
  height: 877px;
  background-color: #f6f6f6;
}

.pets-content {
  margin: 0 auto;
  width: 1200px;
  text-align: center;
}
.pets-content h3 {
  font: 400 35px "Georgia";
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  width: 30rem;
  margin: 0 auto;
  padding: 80px 0 60px;
}

.slider {
  display: flex;
  height: 435px;
  justify-content: space-between;
  align-items: center;
}

.button_arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: #f6f6f6;
}
.button_arrow:hover {
  background-color: #fddcc4;
  border: none;
  cursor: pointer;
}

.cards {
  display: flex;
  justify-content: space-between;
  width: 990px;
}
.cards li {
  list-style-type: none;
  background-color: #fafafa;
  border-radius: 9px;
}
.cards li:hover {
  background-color: white;
  cursor: pointer;
}
.cards li h5 {
  color: #545454;
  margin: 30px auto;
  font: 400 20px "Georgia";
  line-height: 23px;
  letter-spacing: 0.06em;
}
.cards li img {
  border-radius: 9px 9px 0px 0px;
}
.cards li .button_secondary {
  color: #292929;
  align-items: center;
  border-radius: 100px;
  background-color: #fafafa;
  border: 2px solid #f1cdb3;
  width: 187px;
  height: 52px;
  font: 400 17px "Georgia";
  line-height: 130%;
  letter-spacing: 0.06em;
  background-color: #fafafa;
  margin-bottom: 30px;
}
.cards li .button_secondary:hover {
  background-color: #fddcc4;
  border: none;
  cursor: pointer;
}
.cards li:hover button {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: white;
}

.get-to-know {
  margin-top: 60px;
  color: #292929;
  align-items: center;
  border-radius: 100px;
  background-color: #f1cdb3;
  font: 400 17px "Georgia";
  line-height: 130%;
  letter-spacing: 0.06em;
  width: 261px;
  height: 52px;
  border: none;
}
.get-to-know:hover {
  background-color: #fddcc4;
  cursor: pointer;
}

.help {
  height: 611px;
  background-color: white;
  text-align: center;
}
.help h3 {
  font: 400 35px "Georgia";
  line-height: 130%;
  letter-spacing: 0.06em;
  padding: 80px 0 60px;
  color: #545454;
}

.help_list {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 55px 120px;
  justify-content: center;
}
.help_list li {
  height: 113px;
  font: 400 20px "Georgia";
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}
.help_list li img {
  padding-bottom: 30px;
}

.donation {
  height: 462px;
  background-color: #f6f6f6;
}

.donation-content {
  width: 915px;
  margin: 0 auto;
  padding: 80px 0 100px;
  display: flex;
  color: #545454;
  justify-content: space-between;
}
.donation-content img {
  height: 100%;
}

.make-donation {
  width: 380px;
}
.make-donation h3 {
  width: 300px;
  font: 400 35px "Georgia";
  line-height: 130%;
  letter-spacing: 0.06em;
}
.make-donation p {
  font: 400 15px "Georgia";
  line-height: 110%;
  letter-spacing: 0.06em;
  padding: 20px 0;
}
.make-donation div a {
  width: 349px;
  height: 43px;
  background: #f1cdb3;
  border-radius: 9px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #545454;
  text-decoration: none;
}
.make-donation div a:hover {
  background: #fddcc4;
  box-shadow: 0px 4px 16px 9px rgba(255, 255, 255, 0.15);
}
.make-donation div img {
  width: 30px;
  height: 23px;
}
.make-donation div p {
  font: 400 20px "Georgia";
  line-height: 115%;
  letter-spacing: 0.06em;
}
.make-donation .make-donation-info {
  font: 400 12px "Arial";
  line-height: 150%;
  letter-spacing: 0;
  color: #b2b2b2;
  font-style: italic;
}

footer {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
  height: 350px;
  padding-top: 40px;
  box-sizing: border-box;
}

.footer-content {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  height: 310px;
  justify-content: space-between;
}

.contacts,
.location {
  width: 279px;
}
.contacts h3,
.location h3 {
  font: 400 35px "Georgia";
  line-height: 130%;
  letter-spacing: 0.06em;
  color: white;
}
.contacts a,
.location a {
  font: 400 20px "Georgia";
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  display: flex;
  padding-top: 45px;
  width: 251px;
  height: 32px;
  align-items: center;
}
.contacts .boston,
.contacts .london,
.location .boston,
.location .london {
  width: 305px;
}
.contacts img,
.location img {
  margin-right: 20px;
}

/*# sourceMappingURL=style.css.map */
